@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --black: #333333;
    --white: #ffffff;
    --orange: #CC6633;
    --green: #A4CC33;
    --grayF4: #f4f4f4;
    --grayF3: #f4f4f4;
    --grayD9: #d9d9d9;
    --grayC4: #c4c4c4;
    --gray99: #999999;
    --gray66: #666666;


}
body {
    padding: 0;
    margin: 0;
    background-color: var(--grayF4);
    font-size: 14px;
    line-height: 10px;
    font-family: 'Roboto', serif;
}

* {
    color: var(--black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}